#game_map {
        background-image: url("img/map_large.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%; 
        float: left;
}

div.game-map{
        vertical-align: center;
}

*{
        font: 90% sans-serif;
}