



#conteneur{
        margin-top: 4%;
        margin-left: 75%;
        font-size:150%;
}



#game_map {
        background-image: url("img/map_large.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%;
        float: left;
}

.title-game{
        text-align:center;
        font-family:calibri;
        color:#EFE21d;
        font-size:250%;
        font-weight: bold;
}
#belgium_player_1 { visibility: hidden; }
#belplayer_1 { visibility: hidden; }
#belgium_player_2 { visibility: hidden; }
#belplayer_2 { visibility: hidden; }
#belgium_player_3 { visibility: hidden; }
#belplayer_3 { visibility: hidden; }

#germany_player_1 { visibility: hidden; }
#gerplayer_1 { visibility: hidden; }
#germany_player_2 { visibility: hidden; }
#gerplayer_2 { visibility: hidden; }
#germany_player_3 { visibility: hidden; }
#gerplayer_3 { visibility: hidden; }

#netherlands_player_1 { visibility: hidden; }
#nedplayer_1 { visibility: hidden; }
#netherlands_player_2 { visibility: hidden; }
#nedplayer_2 { visibility: hidden; }
#netherlands_player_3 { visibility: hidden; }
#nedplayer_3 { visibility: hidden; }

#italy_player_1 { visibility: hidden; }
#itaplayer_1 { visibility: hidden; }
#italy_player_2 { visibility: hidden; }
#itaplayer_2 { visibility: hidden; }
#italy_player_3 { visibility: hidden; }
#itaplayer_3 { visibility: hidden; }

div.game-map{
        vertical-align: center;
}

*{
        font: 90% sans-serif;
}


