#game_map {
        background-image: url("img/map_large.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%; }

div{
        vertical-align: center;
}